/* font-family: 'Cormorant Garamond', serif;
font-family: 'EB Garamond', serif;
*/
@media {

body {

}

#topper{


}

img {
  

}
h1 {
font-family: 'EB Garamond', serif;
font-size:50px; 
}
h2{
font-family: 'EB Garamond', serif;
    
}
h3{
 
}

h4{
    
}
p{
font-family: 'Cormorant Garamond', serif;
}
button{
font-family: 'EB Garamond', serif;
background-color:#002b2e;
color: #adb6c4;
    
    
}
button:hover{
    background-color:#A38776;
    
}
#button-container {
 text-align: center;
    
}

.background-container {
  background-image: url('IMG-0367.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f1f1f1;
  width: 100%;
  height: 950px;
    }
img {

}

#footer {
position:fixed
bottom:0px;
background-color:#4b644a;
color: #adb6c4;
font-family: 'EB Garamond', serif;
}

}

@media (min-width:576px) 
{
    h1 {
font-size:100px; 
} 
}