/* font-family: 'Cormorant Garamond', serif;
font-family: 'EB Garamond', serif;
*/
@media {

body {
background-color: #001b2e;
}

#topper{


}


img {
  

}
h1 {
font-family: 'EB Garamond', serif;
position: absolute; 
  top: 95%;
  left: 85%;
  transform: translate(-95%, -50%); 
  color: #001b2e;
    text-align: center;
  font-size: 24px;

}
h2{
font-family: 'EB Garamond', serif;
position: absolute; 
  top: 100%;
  left: 85%;
  transform: translate(-95%, -50%); 
  color: #001b2e
  text-align:left;
  font-size: 30px;
 

}
h3{
   color:#adb6c4;
font-family: 'EB Garamond', serif;
}

h4{
   color:#adb6c4;
 font-family: 'Cormorant Garamond', serif;
}
h5{
  color:#adb6c4;
  font-family: 'Cormorant Garamond', serif;
    }
h6{
    color:#adb6c4;
 font-family: 'Cormorant Garamond', serif;
    }
    li {
  color:#adb6c4;
   font-family: 'Cormorant Garamond', serif;
    }
p{
  color:#adb6c4;
   font-family: 'Cormorant Garamond', serif;
}
button{
color:#adb6c4;
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  text-decoration: none;
  display: inline-block;
  border-radius: 100px; 
  box-shadow: 0 2px 4px;
  transition: background-color 0.3s; 
  background-color:#001b2e;
 font-family: 'Cormorant Garamond', serif;
  margin: 0 0 0 260px;
  

    
}
button:hover{
    background-color:#A38776;
    
}

.background-container {
  background-image: url('IMG-0367.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #001b2e;
  width: 100%;
  height: 900px;

    }

#footer {
position:fixed
bottom:0px;
background-color:#4b644a;
color: #adb6c4;
font-family: 'EB Garamond', serif;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color:#adb6c4;
  padding: 5x;
  text-align: right;
}

nav ul {
  list-style: none;
  text-align: center;
 text-decoration: none;
}

nav ul li {
  display: inline;
  margin-right: 160px;
font-family: 'EB Garamond', serif;
 color:#adb6c4;
font-size: 30px;
 text-decoration: none;
}

nav ul li a {
  text-decoration: none;
   color:#adb6c4;
}

}

@media (min-width:576px) 
{
    h1 {
font-size:40px; 
} 
}